<div class="grid place-content-center">
  <div class="">
    <div class="card-center">
      <table class=" mb-2 table-auto border-collapse border border-gray-400 ">
        <thead>
        <tr>
          <th class="border border-gray-300 p-2 w-sm">Schichtvorlagen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sT of this.shiftTemplates" class="hover:bg-green-50 odd:bg-white even:bg-white cursor-pointer" (click)="openShiftTemplateEdit(sT)">
          <td class="border border-gray-300 p-2 w-sm ">{{ sT.shiftTemplateName }}</td>
        </tr>
        </tbody>
      </table>
      <button (click)="openAddShiftTemplate()" type="button" class="button-green">Schichtvorlage hinzufügen</button>

    </div>
    <div *ngIf="isEditMode">
      <app-shift-template-edit [shiftTemplate]="selectedShiftTemplate" (closeShiftTemplateEdit)="closeShiftTemplateEdit()"></app-shift-template-edit>
    </div>
    <div *ngIf="isAddMode">
      <app-shift-template-add (close)="closeShiftTemplateAdd()"></app-shift-template-add>
    </div>
  </div>
</div>
