<script src="../../interfaces/shift-template.ts"></script>
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="modal-bg" aria-hidden="true"></div>
  <div class="modal-card-1">
    <div class="modal-card-2">
      <div class="modal-card-3">
        <div class="modal-card-4">
          <div class="">
            <h3>{{selectedDate.startTime}} bis {{selectedDate.endTime}}</h3>
          </div>


          <h3>Wähle eine Schichtvorlage aus</h3>
          <div class="flex gap-2">
            <form class="flex-3/4">
              <div class="sm:col-span-3">
                <div class="my-1">
                  <select #shiftTemplateInput name="shift-template" id="shift-template" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                    <option [value]="-1">
                      neue Schicht
                    </option>
                    <option *ngFor="let template of shiftTemplates" [value]="template.id">
                      {{ template.shiftTemplateName }}
                    </option>
                  </select>
                </div>
              </div>
            </form>

            <div class="flex-1/4 m-0">
              <button type="button" (click)="chooseShiftTemplate()" class=" cursor-pointer rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Wählen</button>
            </div>

          </div>

          <form (ngSubmit)="save()">
            <div class="space-y-1">
              <div class="">
                <div *ngFor="let tmpRole of selectedShiftTemplate?.templateRoles" class="sm:col-span-3 pb-2 mb-5 border-b-gray-300 border-b-2">
                  <p class="block mt-3 text-xl text-gray-900">{{ roleNameMap[tmpRole.roleId] }}</p>

                  <div *ngFor="let i of [].constructor(tmpRole.count); let idx = index" class="mt-2 flex">
                    <label [for]="'employee-select-' + tmpRole.roleId + '-' + idx" class="flex-1/3">
                      {{ roleNameMap[tmpRole.roleId] }} {{ idx + 1 }}:
                    </label>
                    <div *ngIf="initializeSelectedEmployees(tmpRole.roleId, tmpRole.count)">
                      <select [id]="'employee-select-' + tmpRole.roleId + '-' + idx" name="employee" class="block w-64 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                        <ng-container *ngFor="let emp of employees">
                          <!-- TODO: the if statement looks for roles(tmpRole.roleId) instead of looking if roles includes the role-->
                          <option *ngIf="checkIfEmpHasRole(emp, tmpRole)" [value]="emp.id">
                            {{ emp.firstname }} {{ emp.lastname }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                </div>


              </div>

            </div>

            <div class="mt-6 flex items-center justify-end gap-x-4">
              <button type="button" class="button-cancel" (click)="closeAddShift()" >Cancel</button>
              <button type="submit" class="button-green" *ngIf="this.selectedShiftTemplate != null">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
