<div class="flex m-4 gap-5">
  <div class="flex-1/2">
    <div class="mb-3">
      <h1 class="text-5xl ">Welcome to InStaff</h1>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <app-card [headline]="'Team'" [details]="'Take a look at your team'" [route]="'/employee-list'"></app-card>
        <app-card [headline]="'Roles'" [details]="'Edited and add your roles'" [route]="'/role-list'"></app-card>
        <app-card [headline]="'Calender'" [details]="'Visit your Calender'" [route]="'/calendar'"></app-card>
    </div>

  </div>
  <div class="flex-1/2">
    <app-calendar></app-calendar>
  </div>
</div>

