<div class="bg-glass card-center h-max">
  <div class="flex w-full justify-between items-center">
    <h2 class="text-left">Neuigkeiten</h2>
    <img *ngIf="news.length != 0" class="icon-button" ngSrc="/icons/trash-white.png" alt="edit" width="36" height="36" (click)="deleteAllNewsItems()">
  </div>
  <div class="mt-2">
    <div *ngFor="let n of this.news" class="news-item" >
      <img class="rounded-full" *ngIf="n.confirmed" ngSrc="/icons/accept-black.png" alt="edit" width="36" height="36" [class.bg-green-200]="n.confirmed">
      <img class="rounded-full" *ngIf="!n.confirmed" ngSrc="/icons/decline-black.png" alt="edit" width="36" height="36" [class.bg-red-200]="!n.confirmed" >
      <p class="ml-2 text-left" (click)="openShiftEditWithId(n.shift_id)">
        {{n.employee_name}} hat für die Schicht am {{dateToString(n.shift_date)}} {{n.confirmed? "zugesagt" : "abgesagt"}}
      </p>
      <img class="icon-button" ngSrc="/icons/trash-white.png" alt="edit" width="36" height="36" (click)="deleteNewsItem(n.id)">
    </div>
  </div>
  <div *ngIf="news.length == 0">Es gibt zurzeit keine Neuigkeiten</div>
</div>
