<nav class="bg-gray-800">
  <div class="flex space-x-4 p-2">
    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
    <a routerLink="/home" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" >Dashboard</a>
    <a routerLink="/team" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
    <a routerLink="/calendar" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    <a routerLink="/role-list" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Roles</a>

  </div>
</nav>
