<div class="bg-blue-950 fixed top-0 left-0 max-md:w-auto max-md:rounded-md max-md:m-2 w-full z-50 shadow-md">
  <nav class="" (mouseover)="isMenuOpen=true" (mouseleave)="isMenuOpen=false" (click)="isMenuOpen = !isMenuOpen">
    <div class="flex items-center justify-between p-1 ">
      <div class="rounded-md px-4 py-3 space-y-1 w-min text-sm font-medium text-gray-300 md:hidden cursor-pointer" >
        <svg width="20" height="20" viewBox="0 0 224 224" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 112H196M28 56H196M28 168H196" stroke="#F3F3F3" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>

    <div class="flex-col space-y-1 px-2 pb-2 md:flex md:flex-row md:space-x-4 md:space-y-0 transition-all duration-700"
         [ngClass]="{ 'hidden': !isMenuOpen, 'flex': isMenuOpen, 'md:flex': true } ">
      <a routerLink="/home" routerLinkActive="bg-blue-900 text-white" class="menu-item-big" (click)="isMenuOpen=!isMenuOpen">Dashboard</a>
      <a routerLink="/calendar" routerLinkActive="bg-blue-900 text-white" class="menu-item-big" (click)="isMenuOpen=!isMenuOpen">Calendar</a>
      <a routerLink="/team" routerLinkActive="bg-blue-900 text-white" class="menu-item-big" (click)="isMenuOpen=!isMenuOpen">Team</a>
      <a routerLink="/role-list" routerLinkActive="bg-blue-900 text-white" class="menu-item-big" (click)="isMenuOpen=!isMenuOpen">Roles</a>
      <a routerLink="/shift-template-list" routerLinkActive="bg-blue-900 text-white" class="menu-item-big" (click)="isMenuOpen=!isMenuOpen">Shift Templates</a>
    </div>
  </nav>
</div>

