
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="modal-bg" aria-hidden="true"></div>
  <div class="modal-card-1">
    <div class="modal-card-2">
      <div class="modal-card-3">
        <div class="modal-card-4">
          <h3 class="text-lg font-semibold mb-2">Mitarbeiter zu Rollen zuweisen</h3>



          <!-- Manual roles if no template selected -->
          <div *ngIf="!selectedShiftTemplate" class="mb-3">
            <div class="flex gap-2 items-center">
              <select #roleSelect class="block rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-2 sm:text-sm">
                <option [value]="-1">Wähle Rolle</option>
                <option *ngFor="let r of roles" [value]="r.id">{{ r.roleName }}</option>
              </select>
              <input #countInput type="number" min="1" value="1" class="block w-20 rounded-md bg-white px-3 py-1 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-2 sm:text-sm" />
              <!--<button type="button" class="text-md text-beige font-bold py-1 px-3 bg-green-dark rounded-md hover:bg-green-base  transition-all" (click)="addManualRole(roleSelect.value, countInput.value)">+</button>-->
            </div>
          </div>


          <!-- bottom navigation -->
          <div class="mt-6 flex items-center justify-end gap-x-4">
            <button type="button" class="button-cancel" (click)="closeEditShift()">Abbrechen</button>
            <button type="button" class="button-green" (click)="save()">Speichern</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
