<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="mx-8 my-4">
  <h1 class=" ">Willkommen bei InStaff</h1>
</div>
<div class="min-md:flex mx-4 my-2 gap-1 h-min">
  <div class="flex-1/2 max-md:flex-2/5">
    <div class="bg-glass card-center h-max">
      <h2>Neuigkeiten</h2>
      <p> </p>
    </div>
    <!--
    <div class="grid min-xl:grid-cols-2 gap-4 max-md:grid-rows-4 m-4" >
      <app-card [headline]="'Calender'" [details]="'Visit your Calender'" [route]="'/calendar'"></app-card>
      <app-card [headline]="'Team'" [details]="'Take a look at your team'" [route]="'/team'"></app-card>
      <app-card [headline]="'Roles'" [details]="'Edited and add your roles'" [route]="'/role-list'"></app-card>
      <app-card [headline]="'Shift Templates'" [details]="'Edit your Shift Templates'" [route]="'/shift-template-list'"></app-card>
    </div>
    -->
  </div>
  <div class="flex-1/2 min-md:flex-3/5">
    <app-calendar [initialView]="'dayGridMonth'" class="card-center"></app-calendar>
  </div>
</div>

