<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="h-10/12 flex flex-col overflow-hidden">
  <div class="mx-8 my-4 max-md:mt-0 shrink-0">
    <h1 >Willkommen bei InStaff</h1>
  </div>
  <div class="md:flex mx-4 my-2 gap-1 h-min">
    <div class="flex-1/2 max-md:flex-2/5">
      <app-news (shiftSelected)="openShiftEditWithId($event)"></app-news>
    </div>
    <div class="flex-1/2 md:flex-3/5">
      <app-calendar [initialView]="'dayGridMonth'" class="flex-1 min-h-0"></app-calendar>
    </div>
  </div>
</div>

<!--
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="h-10/12 flex flex-col overflow-hidden">
  <div class="mx-8 my-4 flex-shrink-0">
    <h1>Willkommen bei InStaff</h1>
  </div>
  <div class="flex-1 min-h-0 mx-4 mb-4 gap-4 flex">
    <div class="flex-1 min-w-0 overflow-y-auto">
      <app-news (shiftSelected)="openShiftEditWithId($event)"></app-news>
    </div>
    <div class="flex-1 min-w-0 flex flex-col min-h-0">
      <app-calendar [initialView]="'dayGridMonth'" class="flex-1 min-h-0"></app-calendar>
    </div>
  </div>
</div>


-->
