/* You can add global styles to this file, and also import other style files
https://tailwindcss.com/
*/
@import "tailwindcss";

@font-face {
  font-family: 'coolvetica';
  src: url('/public/fonts/coolvetica/Coolvetica Rg.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-beige: #DAD7CD;
  --color-green-light: #A3B18A;
  --color-green-base: #588157;
  --color-green-dark: #3A5A40;
  --color-green-darkest: #344E41;
  }


/* full calendar*/
.fc {

}
.fc h2{
  color: black;
}
.fc-button-primary {
  border: 0 solid !important;
  background-color: var(--color-green-dark) !important;

}
.fc-button-primary:hover {
  transition-duration: 0.2s;
  background-color: var(--color-green-base) !important;
}

.fc-button-active{
  border: 0 solid !important;
  transition-duration: 0.2s;
  background-color: var(--color-green-base) !important;
}

.fc-list-event-dot, .fc-daygrid-event-dot{
  border-color: var(--color-green-dark) !important;
}

.fc-day-today {
  background-color: var(--color-green-light) !important;
}

/* headlines */
h1{
  @apply text-5xl text-center ;
}

h2{
  @apply text-3xl ;
}


.menu-item-big{
  @apply rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-green-base hover:text-white transition-all
}

/* buttons */
.button-green {
  @apply place-self-center cursor-pointer transition-all rounded-md border-2 border-green-base bg-green-base px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-dark hover:border-green-dark focus-visible:outline-2 focus-visible:outline-offset-2 disabled:bg-green-light disabled:border-green-light focus-visible:outline-green-base;
}

.button-cancel {
  @apply place-self-center cursor-pointer transition-all rounded-md border-2 border-green-base px-3 py-2 text-sm font-semibold text-black shadow-sm hover:border-black focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:border-green-base;
}
.button-delete {
  @apply cursor-pointer rounded-md transition-all bg-red-600 border-2 border-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:text-black hover:bg-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-base
}

.card-center {
  @apply grid m-4 p-4 rounded-md bg-white border-gray-200 border-2 text-left shadow-md shadow-gray-200
}

/* modal */
.modal-bg{
  @apply fixed inset-0 bg-black/50 transition
}
.modal-card-1{
  @apply fixed inset-0 z-10 w-screen overflow-y-auto
}
.modal-card-2{
  @apply flex min-h-full justify-center p-4 text-center items-center
}
.modal-card-3{
  @apply relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg
}
.modal-card-4{
  @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4
}


/* input */
.input-field {
 @apply block rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-green-base sm:text-sm/6
}



.bg-main{
  @apply bg-white;
}

.bg-glass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}




/* employee card */
.card-grid {
  @apply mx-auto mt-4 mb-6 w-full grid gap-6 grid-cols-2 min-xl:grid-cols-3 max-md:grid-cols-1
}

.card{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  @apply transition-all p-6 bg-white  rounded-2xl
}

.card:hover{
  @apply scale-101 ;
}

.card-header{
  @apply flex w-full justify-between items-center
}


.card-headline{
  @apply text-xl ;
}

.card-name{
  @apply text-2xl flex-1 truncate
}
.card-role {
  @apply flex mt-1 items-center overflow-x-auto overflow-y-hidden
}

.card-role-item{
  @apply flex-none text-sm text-black bg-green-light rounded-md py-0.5 px-2 mr-2
}

.card-item{
  @apply flex gap-2 mt-2
}

.icon-button{
  @apply p-2 cursor-pointer rounded-3xl ml-2 bg-green-dark
}

.icon-button:hover{
  @apply bg-green-base
}


/* news */
.news-item{
  @apply cursor-pointer my-2 py-1 px-3 border-2 rounded-2xl border-green-dark flex w-full justify-between items-center transition-all
}

.news-item:hover{
  @apply scale-101
}
