<div class="flex m-4">
  <div class="flex-1/2">
    <table class="table-auto border-collapse border border-gray-400 ">
      <thead>
        <tr>
          <th class="border border-gray-300 p-2 w-sm">First Name</th>
          <th class="border border-gray-300 p-2 w-sm">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of this.employees" class="hover:bg-blue-50 odd:bg-white even:bg-white pointer-events-auto" (click)="openEmpEdit(e)">
          <td class="border border-gray-300 p-2 w-sm ">{{ e.firstname }}</td>
          <td class="border border-gray-300 p-2 w-sm">{{ e.lastname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedEmployee">
    <app-employee-edit [employee]="selectedEmployee"></app-employee-edit>
  </div>
</div>
