<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="h-10/12 flex flex-col overflow-hidden">
  <div class="mx-8 my-4 max-md:mt-0 shrink-0">
    <h1 >Willkommen bei InStaff - Manager Dashboard</h1>
  </div>
  <div class="md:flex mx-4 my-2 gap-5 h-min">
    <div class="flex-1/2 max-md:flex-2/5">
      <app-news (shiftSelected)="openShiftEditWithId($event)"></app-news>
    </div>
    <div class="flex-1/2 md:flex-3/5 card-center bg-glass">
      <app-manager-calendar (openShiftAdd)="openShiftAddWithId($event.id)" (openShiftEdit)="openShiftEditWithId($event.id)" [initialView]="'dayGridMonth'" [isAllowedToEdit]="true" class="flex-1 min-h-0"></app-manager-calendar>
    </div>
  </div>

  <div *ngIf="isEditMode">
    <app-shift-edit [shiftId]="selectedShift.id" (closeShiftEdit)="closeShiftEdit()"></app-shift-edit>
  </div>
  <div *ngIf="isAddMode">
    <app-shift-add (close)="closeAddShift()"></app-shift-add>
  </div>
</div>
